
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f8f9fa; /* Cinza claro */
    color: #212529; /* Preto suave */
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card {
    border: none;
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.05);
}

.btn-primary {
    background-color: #343a40; /* Cinza escuro */
    border-color: #343a40;
}

.btn-primary:hover {
    background-color: #212529; /* Preto */
    border-color: #212529;
}
